.ordering-button {
  div {
    width: 410px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: 960px) {
      width: 205;
      height: 50px;
    }
  }
}
